
body {
  background-color: gray;
}

.container {
  background-color: #C0C0C0;
  margin: 50px;
  
}

h1 {
  color: blue;
  padding: 25px;
}

.content {
  margin-top: 100px;
  border-radius: 12px;
}

ul#navigationMenu {
  list-style-type: none;
  float: right;
  margin-right: 150px;
}

ul#navigationMenu li {
  display: inline;
  margin: 10px;
}
