
body {
  background-color: gray;
  padding: 25x;
}

h1 {
  color: blue;
  padding: 25px;
}

.content {
  margin-top: 100px;
}

ul#navigationMenu {
  list-style-type: none;
  display: inline;
  float: right;
  margin-right: 50px;
}
