/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #000;
    padding:0px;
}

a {
    color: #0099cc;
    text-decoration: none;
}

a:visited {
    color: #0099cc;
}

a:hover {
    color: #0099cc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#header {
    background-color: white; 
    padding-top: 15px;
    opacity: 0.7;
}
h1 {
    padding-left: 75px;
    margin-right: 75px;
}
#header.signIn {
    float: right;
}
.container {
    margin: 25px 150px;
    background-color: #FFF;
    border-style: solid;
    border-color: #105cb6;
    border-radius: 3px;
    padding: 75px;
    opacity: 0.7;
}

ul.leftNavMenu {
  list-style-type: none;
  float: left;
  margin-right: 50px;
  margin-top: 100px;
  word-spacing: 10px;
  clear: both;
  position: absolute;
  display: block;
}

ul.leftNavMenu a {
    text-decoration: none;
    color: #00FF00;
}
form#searchBar {
    float: right;
    margin-right: 100px;
    clear: both;
    margin-top: 30px;
    margin-left: 50px;
}
.sText {
    padding: 8px 15px;
    background: rgba(50,50,50,0.2);
    border: 0px solid #dbdbdb;
}
.sButton {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}
.sButton:hover {
    background-color: #fafafa;
    color:#207cca;
}
.arrow {
    position: relative;
    left:-8px;
    background: #207cca;
    padding: 8px 15px;
}
.arrow:after {
    right:100%;
    top:50%;
    border:solid transparent;
    content: " ";
    height:0;
    width:0;
    position: absolute;
    border-color: rgba(32,124,202,0);
    border-right-color: #207cca;
    border-width: 10px;
    margin-top:-10px;
}
.content {
  margin-top: 20px;
}
.sideNav{
    list-style-type: none;
}

.footer {
  float: right;
  font-size: 24px;
  font-style: italic;
  margin-top: 50px;
  padding-right: 150px;
  position: relative;
  clear: both;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

