/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #696969;
    padding:0px;
}

a {
    color: #0099cc;
    text-decoration: none;
}

a:visited {
    color: #0099cc;
}

a:hover {
    color: #0099cc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#header {
    background-color: #000; 
    padding-top: 10px;
    padding-left: 50px;
    opacity: 0.7;
}
h1.title {
    font: 400 40px/1.3 'Lobster Two', Helvetica, sans-serif;
    display: inline;
    text-shadow: 1px 1px 0px #ededed, 4px 4px 0px #808080;
    color: #00FF00;
}
p.signIn, p.signIn a{
  display: inline; 
  float: right;
  width: 100px;
  margin-right: 15%;
  color: #00FF00;
}
.container {
    margin: 0px 150px 50px;
    background-color: #000;
    border-style: solid;
    border-color: #000;
    border-radius: 0px 3px;
    padding: 0px 5px 0px 0px;
    opacity: 0.7;
    width: 75%;
}
img.daskLogo {
  top: 0;
  margin-left: 75px;
}
ul.social {
    float: right;
    list-style-type: none;
}
p.navMenu {
  list-style-type: none;
  float: left;
  margin: 10px 30px 50px 125px;
  word-spacing: 10px;
  clear: both;
  
}

p.navMenu a {
    text-decoration: none;
    color: #00FF00;
}
form#searchBar {
    float: right;
    margin-right: -15px;
    margin-bottom: 50px;
    margin-top: -33px;
    margin-left: 0px;
}
.sText {
    padding: 8px 15px;
    background: #000;
    border: 0px solid #00FF00;
}
.sButton {
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #00FF00;
    background-color:#00FF00;
    color:#000;
}
.sButton:hover {
    background-color: #fafafa;
    color:#00FF00;
}
.arrow {
    position: relative;
    left:-8px;
    background: #00FF00;
    padding: 8px 15px;
}
.arrow:after {
    right:100%;
    top:50%;
    border:solid transparent;
    content: " ";
    height:0;
    width:0;
    position: absolute;
    border-color: rgba(32,124,202,0);
    border-right-color: #00FF00;
    border-width: 10px;
    margin-top:-10px;
}
.content {
  margin-top: 20px;
}
p.sideNav, p.sideNav a{
    list-style-type: none;
    color: #00FF00;
}

.footer, .footer a {
  float: right;
  font-size: 24px;
  font-style: italic;
  margin-top: 50px;
  padding-right: 150px;
  position: relative;
  clear: both;
  color: #00FF00;
}


input:focus {
    outline: 1px solid #00FF00;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

